.nav-link {
    font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    background-color: green;
}
button {
    background-color: var(--bs-success);
    border: 1px solid green;
}
.bg-light{
    background-color:#FFFAF0;
}
.navbar {
    background-color: white;
}