<nav class="navbar navbar-expand-lg navbar-dark shadow fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand rounded bg-white" routerLink='books'><img src="assets/ib_librairie.png" width="110"></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <p class="nav-link text-success m-0" *ngIf='prenom'><i class="far fa-user mx-1"></i>Bonjour {{ prenom }}</p>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" routerLink='articles'>Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" routerLink='admin' *ngIf='admin'>Administration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" routerLink='auth/connexion' *ngIf='!prenom'>Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" routerLink='auth/inscription' *ngIf='!prenom'>Inscription</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-primary" (click)="onLogout()" style="cursor: pointer" *ngIf='prenom'>Déconnexion</a>
          </li>
          
          <li class="nav-item px-1" >
            <a class="nav-link text-primary"  [routerLink]="['panier']" style="cursor: pointer"><i class="fas fa-cart-arrow-down"> {{ compteur }} </i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>