<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2>Titre article</h2>
            <h3> Par Auteur</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="https://www.cdiscount.com/pdt2/4/2/5/1/700x700/9782070518425/rw/harry-potter-t-1-harry-potter-a-l-ecole-des-s.jpg"
                alt="hp1">
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Prix : 99,99€</h4>
                </div>
                <div class="col-sm-6"> <button id="pan">Ajouter au panier</button></div>
            </div>
            <h4 id="btop">Description</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor,
                dignissim
                sit amet,
                adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a,
                semper
                congue,
                euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam
                nisl
                sit
                amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque
                congue. Ut
                in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede.
                Praesent
                blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in
                faucibus orci
                luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque
                fermentum.
                Maecenas adipiscing ante non diam sodales hendrerit.
            </p>
            <h4 id="btop">Informations sur le produit</h4>
            <table style="width: 400px; border: 1px solid">
                <tr>
                    <th>Isbn 13</th>
                    <td>{{this.livre.isbn13}}</td>
                </tr>
                <tr>
                    <th>Genre</th>
                    <td>Gloubi Boulga</td>
                </tr>
                <tr>
                    <th>Format</th>
                    <td>Papier</td>
                </tr>
                <tr>
                    <th>Editeur</th>
                    <td>Devprod</td>
                </tr>
            </table>
        </div>
    </div>
</div>