th {
background-color: #EAEAEA; 
color: #EA6A0B;
}

#btop {
border-top-style: solid; 
border-top-width: 5px;
border-top-color: #7A809E;
padding-top: 10px;
margin-top:20px;
}

h3 {
    Color: #707070;
}

.marge {
    margin-top: 6em;
}
img {
    max-width: 22em;
    
}