#body {
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px) ;
    gap: 20px 20px;

}

#card {
    display: flex;
    flex-direction: column;
    background-color:rgb(212, 201, 204);
    width: 400px;
    height: 500px;
    justify-content: center;
    margin-left: 4.5em;
    
}

#image {
    width: 400px;
    height: 350px;
}
.contain{
    margin-top: 8em;
}
h2 {
    font-size: 1.4em;
    margin-bottom: 1.2em;
}
img{
    transition: transform 0.3s ease-out;
    transform: scale(1);
}
img:hover{
    transform: scale(1.075);
}
