
<div class="contain">
    <form class="d-flex ms-auto" [formGroup]="searchForm" (ngSubmit)="onSubmitSearch() " >
        <input class="form-control me-sm-2 " type="text" placeholder="Recherche par mot-clé" formControlName="parameter">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" >Search</button>
      </form>
    <h2 class="text-center">Liste des articles</h2>
    <div id="body" *ngIf="reponses == null">
        <div *ngFor="let a of articles" id="card">
            <div class="mw-100 overflow-hidden">
                <a><img src={{a.imageUrl}} id="image" class="w-100 rounded-top " /> </a>
            </div>
            <h4>{{ a.titre }} </h4>
            Description: <br>
            {{ a.resumed }} <br>
            Prix: {{ a.prixUnit }} €
             <button class="btn btn-success" [routerLink]='["/livre", a.referenceArticle]' >Détails</button>
        </div>
    </div>
    <div id="body" *ngIf="reponses != null">
        <div *ngFor="let a of reponses" id="card">
            <div class="mw-100 overflow-hidden">
                <a><img src={{a.imageUrl}} id="image" class="w-100 rounded-top " /> </a>
            </div>
            <h4>{{ a.titre }} </h4>
            Description: <br>
            {{ a.resumed }} <br>
            Prix: {{ a.prixUnit }} €
             <button class="btn btn-success" [routerLink]='["/livre", a.referenceArticle]' >Détails</button>
        </div>
    </div>
</div>
